*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img {
    max-width:80%;
    display: block;
    margin: auto;
}
body {
    background-color: #F9F9F9;
    font-family: 'Helvetica Neue', Helvetica, sans-serif, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container {
    background-color: #F9F9F9;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}


.container h1 {
    font-size: 24px;
    color:#000;
    margin-bottom: 50px;
}


.container p {
    font-size: 16px;
    color:#000;
    margin-bottom: 50px;
}

.checkbox-group {
    text-align: left;
    margin-bottom: 100px;
}


label {
    display: block;
    font-size: 16px;
    color: #000;
    margin-bottom: 8px;
    cursor: pointer;
}


input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 10px;
}


.btn {
    background-color: #F16E00;;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.btn:hover {
    background-color: #000;
}